body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 224, 224);

}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    flex-basis: 200px;


}

#drawer-container {
    border: 2px solid rgb(231, 229, 229);
    box-shadow: 4px 5px rgb(226, 216, 216);
    background-color: white;
    height: 370px;

}

ul li {
    padding: 5px;
    margin: 15px;
    width: 260px;
    list-style: none;


}

.text {
    margin-left: 25px;
    font-size: 21px;
}

.icons {
    margin-left: 0px;
    height: 55px;
    color: rgb(85, 74, 74);

}

ul li a {
    text-decoration: none;
    color: rgb(49, 47, 47);
}

#heading {
    margin-left: 30px;
}

ul li:hover {
    background-color: rgb(233, 229, 229);
    border-radius: 9px;
}

ul li:active {
    background-color: rgb(218, 156, 218);
    border-radius: 9px;
}

h1,
h3 {
    margin-left: 30px;
}

h3 {
    color: rgb(87, 82, 82);
}