body{
    margin:0px;
    padding:0px;
    height:100vh;
}
main {
    font-size: 19px;
}

.item-container {
    display: flex;
    align-items: baseline;
    position: relative;
}

.item {
    display: flex;
}

.badge {
    color: white;
    background-color: rgb(80, 13, 126);
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

button {
    padding-top: 5px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    margin-left: 10px;
}

#item1 {
    top:0.5rem;
    left:8rem;
}

#item2 {
    top: 0.2rem;
    left:10.5rem;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

#item3 {
    background-color: red;
    top:0.2rem;
    left:9.5rem;
}

#item4 {
    top: 0.3rem;
    left: 16.6rem;
}

#item5 {
    bottom:3.4rem;
    left: 10.5rem;
    background-color: red;
}

#icon {
    position: relative;
    bottom: 15px;
    left: 10px;

}