
/*body{
    padding:0px;
    margin:0px;
    height:100vh;
}
*/
.badge-parent {
    position: relative;
    max-width: fit-content;
    padding: 15px;
  }
  #left-badge{
    top: 0px;
    left: 0px;
  }
  
  .badge {
    position: absolute;
    background-color: red;
    color: white;
    height:14px;
    width:14px;
    border-radius: 50%;
    text-align:center;
    padding: 5px;
    top: 0px;
    right: 0px;
  }
  #badge2{
      font-size:22px;
      height:20px;
      width:20px;
      text-align:center;
  }
  .btn-badge{
    top: -10px;
    right: -10px;
  }
  

  
  